
body{
    display: block;
    margin: 50px;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3a3a3b;
    background-color: #f6f6f6;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}


.p-t-10 {
    padding-top: 10px !important;
}

.col-sm-4 {
    font-size: 90%;
}

table {
  counter-reset: rowNumber;
}

table #nbr::before {
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber) ".";
  padding-right: 0.3em;
  text-align: right;
}